<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} handler.application.settings['game_name'] {% end %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hacker War Game">
        <meta name="author" content="moloch">
        <link href="/static/images/favicon.ico" rel="shortcut icon" />
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/static/css/animate.css" rel="stylesheet" />
        <link href="/static/css/notifier.css" rel="stylesheet" />
        <link href="/static/css/main.css" rel="stylesheet" />
        <!--[if lt IE 9]>
            <script src="/static/js/libs/html5.js"></script>
        <![endif]-->
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery-ui.min.js"></script> <!-- load before bootstrap -->
        <script src="/static/js/underscore.min.js" type="text/javascript"></script>
        <script src="/static/js/backbone.min.js" type="text/javascript"></script>
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/js/pages/main.js" type="text/javascript"></script>
        <script src="/static/js/libs/notifier.js" type="text/javascript"></script>
        {% block header %}{% end %}
        {% module Theme() %}
    </head>
    {% block modals %}{% end %}
    <body>
        {% module Menu() %}
        <div class="container-fluid animated fadeIn">
            {% block content %} Content Missing {% end %}
           
        </div><!--/.fluid-container-->
        <footer>
            {% from tornado.options import options %}
            <hr style="margin-bottom: -1px;">
            <div class="navbar-inner footernav">
                Powered by <a href="https://github.com/moloch--/RootTheBox" target="_blank">Root the Box</a> &copy; {{ datetime.date.today().year }}
                <span style="float:right; padding-right: 5px;">{% raw options.org_footer %}</span>
            </div>
         </footer>
   
    </body>
</html>